.header{
    min-height: 100vh;
    background-image: url('../img/bgH.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.nav{
    position: fixed;
    padding-top: 55px;
    display: flex;
    justify-content: space-between;
}

.nav-item{
    text-decoration: none;
    color: white;
    
}

.nav-item:hover{
text-decoration: underline;
}

li{
    display: inline-block;
    color: white;
}